<app-header titulo="Grid"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]" size="12" size-lg="3" size-md="4" size-sm="6">


        <ion-card>
          <ion-img src="/assets/stan-lee.jpg"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ipsum velit eaque eligendi eveniet doloribus, rerum molestiae consequatur ad laudantium totam quam, soluta officia, fugit saepe culpa voluptas accusamus ullam.
        </ion-card-content>

      </ion-col>
      
    </ion-row>
  </ion-grid>
  
</ion-content>
