<ion-header [translucent]="true">
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary">avatar</ion-title>

  
    <ion-buttons slot="end">
      <ion-avatar>
        <!-- <img src="/assets/stan-lee.jpg">  -->
         <ion-img src="/assets/stan-lee.jpg"></ion-img> <!-- la carga se hace mendiante lazy load, es decir se cargan las imagenes bajo demanda, mas eficiente -->
      </ion-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-chip color="primary" outline="true" *ngFor="let item of [1,1,1,1,1,1]">
    <!--  <ion-label>Default</ion-label> -->
    <ion-avatar>
      <img src="/assets/stan-lee.jpg">
    </ion-avatar>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let item of [1,1,1,1,1,1]">
      <ion-avatar slot="start">
        <img src="/assets/stan-lee.jpg">
      </ion-avatar>

      <ion-label>Awesome Label</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
