
/**
Estilos para simular un ion-slide
**/

swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #3880ff);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
  }
  
  swiper-slide {
    display: flex;
    position: relative;
  
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
  
    font-size: 18px;
  
    text-align: center;
    box-sizing: border-box;

    //min-height: 100vh; //ocupa el 100% de la pantalla
  }
  
 /*
  swiper-slide img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
 */

  .slide-full {
    height: 100% !important;
}

.slide-image {
    
    width: 100px ;
    text-align: center ;

    display: block ;
    margin-left: auto ;
    margin-right: auto ;

    position: relative ;
    top: -50px ;
    
}

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ion-card {
    overflow: unset !important;
}

ion-card {
    height: 200px;
    width: 300px;
}

ion-card-header {
    position: relative;
    top: -50px;
}

ion-card-content {
    position: relative;
    top: -50px;
}








